{% extends 'platecom/base.html' %}
{% block content %}



<h2>{{ produit.nom }}</h2>
<h3>{{ produit.prix }}€</h3>
{% if produit.thumbnail %}
    <figure class="image">
        <img src="{{ produit.thumbnail.url }}" alt="{{ produit.nom }}" style="max-width: 250px;">
    </figure>
{% endif %}
<p>{{ produit.description }}</p>
<p>Stock: {{ produit.stock }}</p>
<td>
    <form action="{% url 'platecom:add_to_cart' produit.produit_id %}" method="post">
        {% csrf_token %}
            <input type="submit" value="Ajouter au panier" class="button is-info is-small">
    </form>
</td>


{% endblock content %}
