{% extends 'platecom/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<h1>Voici la liste des produits</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Produit</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Panier</th>
    </tr>
  </thead>
  <tbody>
    {% for produit in liste_des_produits %}
        <tr>
          <td>
            {% if produit.thumbnail %}
            <figure class="image is-64x64">
              <img src="{{ produit.thumbnail.url }}" alt="{{ produit.nom }}">
            </figure>
            {% endif %}
          </td>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.description }}</td>
          <td>{{ produit.prix | floatformat:2 }}€</td>
          <td>
            <form action="{% url 'platecom:add_to_cart' produit.produit_id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Ajouter au panier" class="button is-info is-small">
            </form>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}